@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;
@using TeleSharp.TL;
@using TLSharp;
@using TLSharp.Core;
@using System.IO;
@using System.Collections.Immutable;
@using System.Net.Http;
@using System.Net.Http.Json;
@using Newtonsoft.Json;
@using System.Net;



@page "/Ejercicio5"

<h3>Ejercicio_5</h3>
<br />
<h6>Programa que acepte un texto (Textarea), al presionar el boton enviar el mismo debe ser enviado a un grupo de telegram que usted creara para estos fines., debajo de la captura de texto, coloque el link para entrar al grupo de telegram y el profesor poder probar esto.  </h6>

<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensaje"></textarea>
</div>
<br />
<button class="btn btn-success form-control form-control-lg" type="button" >Enviar</button>
<br />
<br />
<a class="btn btn-info form-control form-control-lg" type="button" href="https://t.me/grupoamadisBot/" target="_blank">Telegram</a>
<br />

